body {

    background-image: url("../../public/imagenes/fondo_paginaAnonimo.avif");
}

.contenedorBuscadores {

    display: flex;
    height: 10vh;
    margin-top: 2%;

}

.busquedaCiudad {

    background-color: white;
    margin-left: 6%;
    border-radius: 10px;
    border: 4px solid black;
    padding: 7px 10px 5px 10px;
    
}

.busquedaCiudad_Actividad {

    background-color: white;
    margin-left: 10%;
    border-radius: 10px;
    border: 4px solid black;
    padding: 7px 10px 5px 10px;
}

.busquedaPorId {

    background-color: white;
    margin-left: 10%;
    border-radius: 10px;
    border: 4px solid black;
    padding: 7px 10px 5px 10px;
}
.contenedorListas {

    border: 4px solid white;
    display: flex;
    border-radius: 10px;
    margin-top: 10%;
    height: 40vh;
}

.listaComerciosCiudad {

    flex-direction: column;
    width: 35%;
    height: 100%;
    border: 4px solid green;

}

.listaComerciosCiudad_Actividad {

    width: 35%;
    height: 100%;
    flex-direction: row;
    border: 4px solid purple;

}

.listaComerciosPorId {

    width: 35%;
    height: 100%;
    flex-direction: row;
    border: 4px solid darkblue;
}