*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{

    background: #1f293a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{

    position: relative;
    width: 256px;
    height: 256px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container span{

    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));

}

@keyframes animateBlink{

    0%{
        background: #0ef;
    }

    50%{
       background: #2c4766;
    }

}

.login-box{

    position: absolute;
    width: 400px;
}

.login-box form {

    width: 100%;
    padding: 0 50px;
}

h2 {

    font-size: 2em;
    color: #0ef;
    text-align: center;

}

.input-box {


}
