body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.done {
    text-decoration: line-through;
}