.importante{
    font-weight: bold;
}

h1
{
    text-align: center;
    color: blue;
}

p{
    color: #2F2B2A;
    margin: 15px;
}

li
{
    border-style: dotted;
}

#destacado
{
    background-color: yellow;
}