
/* Aquí va el título de la página */
.fotos {
    background-color: light grey;
    color: black;
    text-align: center;
}

input {
    width: 200px;
    height: 50px;
    border: none;
}

body{
    background-image: url("images/batalla.avif");
    background-size: cover;
}

.fotos h1 {
    font-size: 60px;
}

.fotos img {
    margin: 10px;
}

#botonSeleccionado{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#botonSeleccionar{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

/* Aquí va los botones para seleccionar el numero de jugadores humanos */
#seleccion {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Aquí van dos cuadrados para ver las opciones que han salido */
.row {
    margin-top: 100%;
    margin-bottom: auto;
}

.col-4 {
    text-align: center;
}

.h2 {
    font-size: 30px;
}

/* Aquí va el botones para empezar y reiniciar la partida */
#botones{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botonJugar{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#botonReiniciar{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#botonReiniciar:hover{
    background-color: red;
    color: black;
}

#botonJugar:hover{
    background-color: green;
    color: black;
}

#resultado{
    margin: 30px;
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#contadorJugador1{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#contadorJugador2{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}