/*Contenedor*/
.todo-container {

    background-color: blue;    
    display: flex;
    border: 1px solid black;
    flex-direction: row ;
} 

/*Texto*/
.todo-text {

    display: flex;
    border: 1px solid black;
    align-items: center;
} 

/* Botones */
.boton-delete {
    
    padding: 3px;
    border-radius: 4px;
    color: white;
    margin-left: 10px;
    background-color: red;
}