.lista-notas {

    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    background-color: lightblue;
   
}

.una-nota{

    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}