/*Contenedor*/
.todo-container {
    width: 200%;
    min-height: 65px;
    background-color: aquamarine;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid black;
    flex-direction: column;
    cursor: pointer;
} 

/*Texto*/
.todo-text {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid black;
    align-items: center;
} 

/* Botones */
.boton-delete {
    
    padding: 3px;
    border-radius: 4px;
    color: white;;
    background-color: red;
}