
.input-group {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.text-area-contenedor {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 4px;
}

.boton-add {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}